.iconsBlock{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 50px;
    background-color: #FFFFFF;
    --padding-top: 50px;
    --padding-right: 10px;
    --padding-bottom: 40px;
    --padding-left: 10px;
}
.iconsBlockBorder{
    --border-width-top: 0px;
    --border-width-right: 0px;
    --border-width-bottom: 1px;
    border-bottom: 1px solid #E5EEF2;;
    --border-width-left: 0px;
    border-color: #E5EEF2;
    --border-color: #E5EEF2;
}
.iconsTitle{
    font-size: 16px; 
    color: #272657;
    font-family: Golos Text,sans-serif;
    transition: 1s all ease;
    transform:  translateY(10px);
    opacity: 0;
}
.iconsTitle.active{
    transform: translateY(0);
    opacity: 0.9;
}
.iconsBlock2{
    display: flex;
    gap: 30px;
}
.iconsImg1{
    width: 52px;
    height: 52px;
}
.iconsImg2{
    width: 52px;
    height: 52px;
}
.iconsImg3{
    width: 52px;
    height: 52px;
}
.iconsImg4{
    width: 52px;
    height: 52px;
}
.iconsImg5{
    width: 52px;
    height: 52px;
}

@media(max-width:580px){
    .iconsBlock{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
    background-color: #fff;
    padding: 50px 10px 40px;
    flex-direction: column;
}
.iconsBlock2 {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    width: auto;
}
.iconsTitle{
    text-align: center;
}
.iconsImg1, .iconsImg2, .iconsImg3, .iconsImg4, .iconsImg5 {
    width:42px;
    height:42px;
}
}

@media(max-width:340px){
    .iconsImg1, .iconsImg2, .iconsImg3, .iconsImg4, .iconsImg5 {
        width:32px;
        height:32px;
    }
}