/* transition: 0.5s;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); */
.insightsBlock{
    display: flex;
    padding:0 10px;
    width: 100%; 
    height: 90vh;
    padding-bottom: 100px;
    background: linear-gradient( rgba(248, 243, 253, 0)) transparent;
}
.insightsBlock1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: var(--content-width);
    margin: 0 auto;
    padding-inline: 0;
    height: 100%;
}
/* block1 */
.insigthsBlock2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 57%;
    opacity: 0;
    transition: all 1s ease;
    transform: translateX(10px);
}
.insigthsBlock2.active{
    transform: translateX(0);
    opacity: 1;
}
.insigthsTitles{
    background: linear-gradient(180deg, #6D56B2 0%,#1CB2D3 100%);
    -webkit-background-clip: text !important;
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    text-fill-color: transparent !important;
    font-family: 'Golos Text', sans-serif;
    font-size: 22px;  
}
/* block2 */
.insigthsBlock3{
    display: flex;
    gap: 30px;
    opacity: 0;
    transition: all 1s ease;
    transform: translateX(10px);
}
.insigthsBlock3.active{
    transform: translateX(0);
    opacity: 1;
}
/* min1 */
.insigthsBlock4{
    display: flex;
    cursor: pointer;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    background: #FFFFFF;
    width: 31.57%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 4px 44px 0px rgba(61.00000000000005, 54.00000000000001, 138, 0.07058823529411765);
    }
.insigthsBlock4:hover{
    transition: 0.5s;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.insightsImage1{
    max-width: 100%;
    height: auto;
}
.insightsText{
    font-size: 16px;
    color: #64607D;
    font-family: 'Golos Text', sans-serif;
}
.insigthsTitles1{
    display: flex;
    margin-top: 0px;
    font-size: 52px;
    text-align: center;
    margin-bottom: 50px;
    color: #272657;
    font-family: 'Golos Text', sans-serif;
}
.insigthsTitles2{
    margin-top: 0px;
    font-size: 24px;
    color: #272657;
    font-family: 'Golos Text', sans-serif;
}
.insightsText1{
    margin-top: -10px;
    font-size: 16px;
    color: #64607D;
    font-family: 'Golos Text', sans-serif;
    width: 300px;
}
/* min2 */
.insigthsBlock5{
    display: flex;
    cursor: pointer;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    background: #FFFFFF;
    width: 31.57%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 4px 44px 0px rgba(61.00000000000005, 54.00000000000001, 138, 0.07058823529411765);
}
.insigthsBlock5:hover{
    transition: 0.5s;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.insightsImage2{
    max-width: 100%;
    height: auto;
}
.insightsText2{
    font-size: 16px;
    color: #64607D;
    font-family: 'Golos Text', sans-serif;
}
.insigthsTitles3{
    margin-top: 0px;
    font-size: 24px;
    color: #272657;
    font-family: 'Golos Text', sans-serif;
}
.insightsText3{
    margin-top: -10px;
    font-size: 16px;
    color: #64607D;
    font-family: 'Golos Text', sans-serif;
    width: 300px;
}
/* min3 */
.insigthsBlock6{
    display: flex;
    cursor: pointer;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    background: #FFFFFF;
    width: 31.57%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 4px 44px 0px rgba(61.00000000000005, 54.00000000000001, 138, 0.07058823529411765);
}
.insigthsBlock6:hover{
    transition: 0.5s;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.insightsImage3{
    max-width: 100%;
    height: auto;
}
.insightsText4{
    font-size: 16px;
    color: #64607D;
    font-family: 'Golos Text', sans-serif;
}
.insigthsTitles4{
    margin-top: 0px;
    font-size: 24px;
    color: #272657;
    font-family: 'Golos Text', sans-serif;
}
.insightsText5{
    margin-top: -10px;
    font-size: 16px;
    color: #64607D;
    font-family: 'Golos Text', sans-serif;
    width: 300px;
}
@media(max-width:1240px){
    .insigthsBlock3{
        align-items: center;
        flex-direction: column;
    }
    .insightsBlock {
        width: auto;
        height: auto;
    }
    .insigthsBlock4 {
        width: auto;
        margin: 20px;
    }
    .insigthsBlock5 {
        width: auto;
        margin: 20px;
    }
    .insigthsBlock6 {
        width: auto;
        margin: 20px;
    }
    .insigthsTitles{
        text-align: center;
    }
    .insigthsBlock2 {
        justify-content: center;
        width: auto;
    }
}
@media(max-width:400px){
    .insightsImage1 {
        max-width: initial;
        width: 100%;
        height: auto;
    }
    .insightsText{
        width: auto;
    }
    .insigthsTitles2{
        width: auto;
    }
    .insightsText1 {
        width: auto;
    }

    .insightsBlock1{
        width: auto;
        height: auto;
    }
    .insigthsBlock3{
        width: auto;
        height: auto;
    }
    
    .insigthsBlock4 {
        width:50%;
        margin: 20px;
    }
    .insigthsBlock5 {
        width: 50%;
        margin: 20px;
    }
    .insigthsBlock6 {
        width:50%;
        margin: 20px;
    }
    .insightsImage2 {
        max-width: initial;
        width: 100%;
        height: auto;
    }
    .insightsText2{
        width: auto;
    }
    .insigthsTitles3{
        width: auto;
    }
    .insightsText3 {
        width: auto;
    }

    .insightsImage3 {
        max-width: initial;
        width: 100%;
        height: auto;
    }
    .insightsText4{
        width: auto;
    }
    .insigthsTitles4{
        width: auto;
    }
    .insightsText5 {
        width: auto;
    }
}